{% extends 'base.html' %}
{% block title %} <title>{{super}}-Excursions</title> {% endblock title %}

{% block content %}

<h1>Diving excursions:</h1>
<div class="card-group">
  {% for item in excursions %}
<div class="card" style="width: 18rem;">
  <img src="{{ item.img }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{ item.title }} </h5>
    <p class="card-subtitle"> {{ item.price }} </p>
    <p class="card-text"> {{ item.description }} </p>
    <a href="{{ item.address }}" class="btn btn-primary">I like it! Want to know more</a>
  </div>
</div>
  {% endfor %}
</div>





{% endblock %}